dify/job_match.yml
app:
  description: 基于 Profile 和结构化 JD，由大模型给出匹配度（match_score 0-100）和叙事分析（evidence / gaps / risks / ai_note）。
  icon: 🧭
  icon_background: "#EDE9FE"
  icon_type: emoji
  mode: workflow
  name: job_match
  use_icon_as_answer_icon: false
dependencies:
  - current_identifier: null
    type: marketplace
    value:
      marketplace_plugin_unique_identifier: langgenius/gemini:0.8.4@23aed1fa4d2c8015337bd18efa28b3dccf5b7309a83b1501541fb7358518faec
      version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ""
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ""
      voice: ""
  graph:
    edges:
      - data:
          isInLoop: false
          sourceType: start
          targetType: llm
        id: 1786000000001-source-1786000000002-target
        selected: false
        source: "1786000000001"
        sourceHandle: source
        target: "1786000000002"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: llm
          targetType: code
        id: 1786000000002-source-1786000000003-target
        selected: false
        source: "1786000000002"
        sourceHandle: source
        target: "1786000000003"
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: code
          targetType: end
        id: 1786000000003-source-1786000000004-target
        selected: false
        source: "1786000000003"
        sourceHandle: source
        target: "1786000000004"
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: Edge Function 传入 Profile 和结构化 JD，均为 JSON 字符串。
          selected: false
          title: 用户输入
          type: start
          variables:
            - hide: false
              hint: ""
              label: profile_json
              max_length: 48000
              options: []
              placeholder: ""
              required: true
              type: paragraph
              variable: profile_json
            - hide: false
              hint: ""
              label: job_json
              max_length: 48000
              options: []
              placeholder: ""
              required: true
              type: paragraph
              variable: job_json
        height: 137
        id: "1786000000001"
        position:
          x: -280
          y: 240
        positionAbsolute:
          x: -280
          y: 240
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: 读取 Profile 和 JD，给出匹配度 match_score 与 evidence / gaps / risks / ai_note。
          model:
            completion_params:
              temperature: 0
              thinking_mode: false
            mode: chat
            name: gemini-2.5-flash
            provider: langgenius/gemini/google
          prompt_template:
            - id: b2e4d3f5-0001-4abc-8def-job-match-sys
              role: system
              text:
                '你是一个求职匹配评估器。输入是候选人 Profile（JSON）和结构化职位描述（JSON）。


                你的职责是基于语义理解评估候选人与该职位的匹配程度，并解释判断依据。要看懂技术写法差异（如 React 18 等同 React、K8s 等同 Kubernetes）、技能范围与层级（如「数据库优化经验」可支撑「PostgreSQL」要求）、年限与职责的实际契合度，而不是做字面字符串比对。


                输出一个匹配度和四类叙事，全部使用中文：

                1. match_score（匹配度）：0 到 100 的整数,综合必备技能覆盖、加分技能、年限、职责契合和远程/地点偏好后的整体判断。打分要克制诚实——证据充分才给高分，证据不足或需要美化才能成立的不要给高分。

                2. evidence（命中证据）：从 Profile 的工作经历、项目、技能中找出能支撑该职位要求的具体事实。每条必须能追溯到 Profile 中的真实内容，不得虚构。最多 5 条，每条不超过 80 字。

                3. gaps（能力缺口）：指出 Profile 相对 JD 要求缺少或证据不足的部分，并给出可执行的补救方向（如何在简历中补证据、如何如实表述相近经验）。最多 5 条，每条不超过 80 字。

                4. risks（风险表达）：投递或简历表述中需要注意的风险，例如容易被夸大的经验、年限差距、远程协作或语言要求。表达要诚实，不鼓励美化。最多 4 条，每条不超过 80 字。

                5. ai_note（总评叙事）：解释 match_score 背后的整体判断和投递建议，不超过 120 字。


                输出要求：

                1. 只输出 JSON 对象，必须符合 Structured Output JSON Schema。

                2. schema_version 固定为 "job.match.v1"。

                3. 某一类没有内容时输出空数组，不要编造凑数。

                '
            - id: b2e4d3f5-0002-4abc-8def-job-match-usr
              role: user
              text: "候选人 Profile（JSON）：


                {{#1786000000001.profile_json#}}


                结构化职位描述（JSON）：


                {{#1786000000001.job_json#}}

                "
          selected: false
          structured_output:
            schema:
              properties:
                ai_note:
                  type: string
                evidence:
                  items:
                    type: string
                  type: array
                gaps:
                  items:
                    type: string
                  type: array
                match_score:
                  maximum: 100
                  minimum: 0
                  type: integer
                risks:
                  items:
                    type: string
                  type: array
                schema_version:
                  enum:
                    - job.match.v1
                  type: string
              required:
                - schema_version
                - match_score
                - evidence
                - gaps
                - risks
                - ai_note
              type: object
          structured_output_enabled: true
          title: LLM 叙事分析
          type: llm
          vision:
            enabled: false
        height: 148
        id: "1786000000002"
        position:
          x: 60
          y: 240
        positionAbsolute:
          x: 60
          y: 240
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          code: |
            function main({ raw_json }) {
              const source = String(raw_json || "").trim();
              const jsonText = source
                .replace(/^```(?:json)?\s*/i, "")
                .replace(/\s*```$/i, "");

              let parsed;
              try {
                parsed = JSON.parse(jsonText);
              } catch (error) {
                return { normalized_json: jsonText };
              }

              function toStringList(value) {
                if (!Array.isArray(value)) {
                  return [];
                }
                return value
                  .filter((item) => typeof item === "string" && item.trim())
                  .map((item) => item.trim());
              }

              function toScore(value) {
                const raw = typeof value === "number" ? value : parseFloat(value);
                if (!isFinite(raw)) {
                  return 0;
                }
                return Math.round(Math.min(100, Math.max(0, raw)));
              }

              return {
                normalized_json: JSON.stringify({
                  schema_version: "job.match.v1",
                  match_score: toScore(parsed.match_score),
                  evidence: toStringList(parsed.evidence),
                  gaps: toStringList(parsed.gaps),
                  risks: toStringList(parsed.risks),
                  ai_note: typeof parsed.ai_note === "string" ? parsed.ai_note.trim() : ""
                })
              };
            }
          code_language: javascript
          desc: 兜底解析 code fence，并把叙事字段归一化成稳定形状。
          outputs:
            normalized_json:
              children: null
              type: string
          selected: false
          title: 输出归一化
          type: code
          variables:
            - value_selector:
                - "1786000000002"
                - text
              variable: raw_json
        height: 96
        id: "1786000000003"
        position:
          x: 400
          y: 240
        positionAbsolute:
          x: 400
          y: 240
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
      - data:
          desc: 生成最终内容
          outputs:
            - value_selector:
                - "1786000000003"
                - normalized_json
              value_type: string
              variable: text
          selected: false
          title: Output
          type: end
        height: 116
        id: "1786000000004"
        position:
          x: 740
          y: 240
        positionAbsolute:
          x: 740
          y: 240
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 242
    viewport:
      x: -400
      y: 200
      zoom: 0.8
  rag_pipeline_variables: []
